body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #b5b5b5;
}
#nav{
    color: white;
    background-color: transparent;
}
#logo{
    width: 90px;
    height: 70px;
    margin-left: 30px;
    margin-top: 15px;

}
#header{
    width: 100%;
    height: 760px;
    background-image: url(Images/banner-bg.png);
}
#nav-list{
    position: absolute;
    list-style: none;
    top: -28px;
    right: 0px;
    display: flex;
    float: right;
    text-decoration: none;
    margin: 30px;
    padding: 30px;
    gap: 35px;
}
#hore{
    margin-top: 100px;
    margin-left: 60px;
}
#hero-h3{
    font-size: 50px;
    font-weight: bolder;
    color: #c5d512;
}
#hero-span{
    color: white;
}
#hero-p{
    color: #c5d512;
}
#header-botton{
    width: 160px;
    height: 50px;
    color: white;
    font-size: 15px;
    background-color: #c5d512;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid black;
}
#hore-img{
    position: absolute;
    right: 80px;
    top: 130px;
    width: 300px;
    height: 400px;

}
#about{
    margin-top: 70px;
    margin-left: 30px;
    width: 600px;
}
#about-h1{
    font-size: 50px;
    font-weight: bolder;
    color: #252525;
}
#about-img{
    position: absolute;
    top: 800px ;
    right: 40px;
    width: 450px;
    height: 450px;
}
.WHO{
    display:  flex;
    align-items: center;
    justify-content: center;
}
/* color */

.color{
    color: #111111;
color: #222222;
color:#ddd;
color: #767676;
color:#ffffff ;
color: #a3b104;
 color: #c5d512;
 color: #000;
color: #143e07;
color: #050000;
color:#101010;
 color: #123c06;
color: #164006;
color: #252525;
color: #1b1b1b;
color: #a9a9a9;
 color: #123c06;
  color: #262626;
color: #b5b5b5;
color: #292828;
}